@color-blue: #428bca;

// Upload target overlay.
.ombumedia-upload-drag {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade(#fff, 90%);
  border: 0.5em dashed #333;
  display: none;

  span {
    font-size: 3em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 45%;
  }

  .drag-over & {
    display: block;
    > * {
      pointer-events: none;
    }
  }
}

// Uploading overlay.
.ombumedia-upload-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: fade(#fff, 90%);
  border: 0.5em dashed #333;
  display: none;

  .progress-bar {
    font-size: 2em;
    text-align: left;
    position: fixed;
    width: 50%;
    min-width: 400px;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid @color-blue;
    border-radius: 15px;
    background: lighten(@color-blue, 25%);
    padding: 0.5em;
    overflow: hidden;

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0%;
      background: lighten(@color-blue, 15%);
      z-index: 1;
    }
    .progress-text {
      position: relative;
      z-index: 2;
    }
  }

  .uploading & {
    display: block;
  }
}


.ombumedia-library-file {

  .view-display-id-manage_media & {
    a[href="#select"] { display: none; }
  }
  .view-display-id-select_media & {}
}


.ombumedia-popup {

  .ombumedia-tabset {
    padding: 0;
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .top {
      overflow: hidden;
      position: relative;
      background-color: #e0e0d8;
      padding: 15px 15px 0 15px;
    }


    .ui-tabs-nav {
      padding: 0;
      border: 0;

      li {
        a {
          font-weight: normal;
          display: block;
          float: left;
          padding: 0 1em;
          line-height: 2.5em;
          background-color: #a6a7a2;
          color: #000;
          border: 0;
          border-radius: 8px 8px 0 0;

          &:focus {
            outline: 0;
          }
        }

        &.ui-state-active,
        &.ui-state-hover {
          a {
            background-color: #ffffff;
          }
        }
      }
    }

    .ui-tabs-panel {
      border: 0;
      padding: 15px;
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
    }
  }

}

.ombumedia-ui-dialog {
  .ui-dialog-titlebar {
    background: transparent;
    position: relative;
    z-index: 1010;
    float: right;

    .ui-dialog-title { display: none; }
    .ui-dialog-titlebar-close {
      border: 1px solid #e0e0d8;
      right: 5px;
      top: 5px;
      margin: 0;

      .ui-button-text { display: none; }
    }
  }
  .ombumedia-modal-frame {
    padding: 0;
  }
}
.page-file-configure,
.page-file-preview {
  .ombumedia-popup {
    padding: 15px;
  }

}

.page-file-preview {
  .file-preview {
    margin-bottom: 1em;
  }
  .actions {
    input.form-submit {
      margin-top: 1em;
    }
  }
}
