@-webkit-keyframes ombumedia-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ombumedia-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ombumedia-upload-drag,
.ombumedia-upload-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5em dashed #333;
}
.page-admin-dashboard-manage-media .ombumedia-upload-drag,
.page-admin-dashboard-manage-media .ombumedia-upload-progress {
  top: 30px;
}
.ombumedia-upload-drag {
  display: none;
}
.ombumedia-upload-drag span {
  font-size: 3em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 45%;
}
.drag-over .ombumedia-upload-drag {
  display: block;
}
.drag-over .ombumedia-upload-drag > * {
  pointer-events: none;
}
.ombumedia-upload-progress {
  display: none;
}
.ombumedia-upload-progress .progress-bar {
  display: none;
  font-size: 2em;
  text-align: left;
  position: fixed;
  width: 50%;
  min-width: 400px;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #428bca;
  border-radius: 15px;
  background: #a6c8e6;
  padding: 0.5em;
  overflow: hidden;
}
.ombumedia-upload-progress .progress-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #7eb0db;
  z-index: 1;
}
.ombumedia-upload-progress .progress-bar .progress-text {
  position: relative;
  z-index: 2;
}
.uploading .ombumedia-upload-progress .progress-bar {
  display: block;
}
.upload-error .ombumedia-upload-progress {
  text-align: center;
}
.upload-error .ombumedia-upload-progress:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.upload-error .ombumedia-upload-progress .error-container {
  display: inline-block;
  position: relative;
  max-width: 60%;
  vertical-align: middle;
  text-align: left;
  border: 2px solid #8c2e0b;
  border-radius: 15px;
  background: rgba(140, 46, 11, 0.25);
  padding: 2em;
}
.upload-error .ombumedia-upload-progress .error-container .close {
  color: #000000;
  font-size: 18px;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  text-decoration: none;
}
.upload-error .ombumedia-upload-progress .error-container .errors p {
  margin: 0;
}
.upload-error .ombumedia-upload-progress .error-container .errors p + p {
  margin-top: 0.5em;
}
.uploading .ombumedia-upload-progress,
.upload-error .ombumedia-upload-progress {
  display: block;
}
.view-ombumedia,
.view-ombumedia * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.view-ombumedia form input[name="filename"] {
  height: 29px;
}
.view-ombumedia form .views-widget .description {
  display: none;
}
.view-ombumedia form .select2-container > .select2-choice {
  height: 29px;
}
.view-ombumedia form .select2-container.select2-container-multi {
  width: auto !important;
}
.view-ombumedia form .select2-container.select2-container-multi .select2-choices {
  background-image: none;
}
.view-ombumedia form .ajax-progress.ajax-progress-throbber .throbber {
  background-image: none;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid #5897fb;
  border-right: 5px solid rgba(88, 151, 251, 0.2);
  border-bottom: 5px solid rgba(88, 151, 251, 0.2);
  border-left: 5px solid rgba(88, 151, 251, 0.2);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: ombumedia-loader 1s infinite ease-in-out;
  animation: ombumedia-loader 1s infinite ease-in-out;
  margin: 0;
  margin-top: 29px;
  padding: 0;
}
.view-ombumedia form .ajax-progress.ajax-progress-throbber .throbber,
.view-ombumedia form .ajax-progress.ajax-progress-throbber .throbber:after {
  border-radius: 50%;
  width: 29px;
  height: 29px;
}
.view-ombumedia .view-empty {
  text-align: center;
}
.view-ombumedia .result-summary {
  display: block;
  text-align: center;
}
.view-ombumedia .view-content {
  overflow: hidden;
  margin: 20px -10px 0;
}
.view-ombumedia .view-content .views-row {
  float: left;
  width: 25%;
}
.view-ombumedia .view-content .views-row:nth-child(4n+1) {
  clear: left;
}
@media (min-width: 600px) {
  .view-ombumedia .view-content .views-row {
    width: 20%;
  }
  .view-ombumedia .view-content .views-row:nth-child(4n+1) {
    clear: none;
  }
  .view-ombumedia .view-content .views-row:nth-child(5n+1) {
    clear: left;
  }
}
@media (min-width: 1000px) {
  .view-ombumedia .view-content .views-row {
    width: 16.66666667%;
  }
  .view-ombumedia .view-content .views-row:nth-child(5n+1) {
    clear: none;
  }
  .view-ombumedia .view-content .views-row:nth-child(6n+1) {
    clear: left;
  }
}
.view-ombumedia .item-list ul.pager {
  margin-top: 20px;
}
.view-ombumedia .ombumedia-library-file .views-row-inner {
  position: relative;
  background: transparent;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.view-ombumedia .ombumedia-library-file .views-row-inner:hover {
  background: #f1f1f1;
}
.view-ombumedia .ombumedia-library-file .views-row-inner:hover .actions {
  opacity: 1;
  filter: alpha(opacity=100);
}
.view-ombumedia .ombumedia-library-file .views-row-inner > a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  display: block;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions {
  list-style: none;
  display: block;
  padding: 0 10px 10px 10px;
  margin: 0 -2px;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  padding: 0 2px;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions a {
  display: block;
  margin: 0;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions.actions-2 li {
  width: 50%;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions.actions-3 li {
  width: 33.33333333%;
}
.view-ombumedia .ombumedia-library-file .views-row-inner ul.actions.actions-4 li {
  width: 50%;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered {
  height: 0;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 100%;
  position: relative;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  display: block;
  padding: 10px;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .field-content {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .field-content div.pdfpreview{
  display: inline;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .field-content:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0;
  height: 100%;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .field-content img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .magnify-icon {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .magnify-icon svg {
  -webkit-filter: drop-shadow(0px 0px 2px #000);
  filter: drop-shadow(0px 0px 2px #000);
}
.view-ombumedia .ombumedia-library-file .views-field-rendered .field-content-wrapper .magnify-icon svg g > * {
  fill: #FFFFFF;
}
.view-ombumedia .ombumedia-library-file a.launch-preview-popup:hover .views-field-rendered .field-content-wrapper .magnify-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.view-ombumedia .ombumedia-library-file .views-field-filename {
  font-weight: bold;
  word-break: break-word;
}
.view-ombumedia .ombumedia-library-file .views-field-type {
  font-size: 0.9em;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #666;
  padding: 0 3px;
  border-radius: 3px;
  color: #FFFFFF;
}
.ombumedia-popup .ombumedia-tabset {
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ombumedia-popup .ombumedia-tabset .top {
  overflow: hidden;
  position: relative;
  background-color: #e0e0d8;
  padding: 15px 15px 0 15px;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav {
  padding: 0;
  border: 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li a {
  font-weight: normal;
  display: block;
  float: left;
  padding: 0 1em;
  line-height: 2.5em;
  background-color: #a6a7a2;
  color: #000;
  border: 0;
  border-radius: 8px 8px 0 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li a:focus {
  outline: 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li.ui-state-active a,
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li.ui-state-hover a {
  background-color: #ffffff;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-panel {
  border: 0;
  padding: 15px;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
body.ui-dialog-open {
  overflow: hidden;
}
.ombumedia-ui-overlay {
  z-index: 5000;
  background-color: #000000;
  opacity: 0.7;
}
.ombumedia-ui-overlay.ombumedia-ui-overlay-preview {
  opacity: 0.85;
}
.ombumedia-ui-dialog {
  z-index: 5010;
  border: 0;
  position: fixed;
  -webkit-box-shadow: 0px 5px 15px #000;
  box-shadow: 0px 5px 15px #000;
}
.ombumedia-ui-dialog .ui-dialog-titlebar {
  background: transparent;
  position: relative;
  z-index: 1010;
  float: right;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: 1px solid #e0e0d8;
  right: 5px;
  top: 5px;
  margin: 0;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ombumedia-ui-dialog .ombumedia-modal-frame {
  padding: 0;
}
.page-file-configure .ombumedia-popup,
.page-file-preview .ombumedia-popup {
  padding: 15px;
}
.page-file-configure #ombumedia-file-entity-configure img {
  max-width: 100%;
}
.page-file-preview {
  background: transparent;
}
.page-file-preview .ombumedia-file-preview {
  max-width: 800px;
  margin: 0 auto;
}
.page-file-preview .ombumedia-file-preview .file-preview {
  margin-bottom: 1em;
  text-align: center;
}
.page-file-preview .ombumedia-file-preview .file-preview img {
  background: url(checkered-bg.png) repeat 0 0 gray;
}
.page-file-preview .ombumedia-file-preview .file-preview iframe,
.page-file-preview .ombumedia-file-preview .file-preview img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  display: block;
}
.page-file-preview .ombumedia-file-preview fieldset,
.page-file-preview .ombumedia-file-preview fieldset.collapsed {
  background: #FFFFFF;
}
.page-file-preview .ombumedia-file-preview .metadata {
  color: #FFFFFF;
}
.page-file-preview .ombumedia-file-preview .metadata h1 {
  text-align: center;
}
.ombumedia-add {
  overflow: hidden;
}
.ombumedia-add,
.ombumedia-add * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ombumedia-add form {
  float: left;
  width: 50%;
  padding-right: 50px;
}
.ombumedia-add form + form {
  padding: 0;
}
.ombumedia-button,
input.form-submit.ombumedia-button {
  display: inline-block;
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background-color: #e6e6e6;
  background-image: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.ombumedia-button:hover,
input.form-submit.ombumedia-button:hover {
  text-decoration: none;
  background-color: #d2d2d2;
}
.ombumedia-widget .preview.launcher > * {
  margin-bottom: 1em;
}
#ombumedia-file-entity-add .plupload_start {
  display: none
}
