.ombumedia-upload-drag {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5em dashed #333;
  display: none;
}
.ombumedia-upload-drag span {
  font-size: 3em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 45%;
}
.drag-over .ombumedia-upload-drag {
  display: block;
}
.drag-over .ombumedia-upload-drag > * {
  pointer-events: none;
}
.ombumedia-upload-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5em dashed #333;
  display: none;
}
.ombumedia-upload-progress .progress-bar {
  font-size: 2em;
  text-align: left;
  position: fixed;
  width: 50%;
  min-width: 400px;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #428bca;
  border-radius: 15px;
  background: #a6c8e6;
  padding: 0.5em;
  overflow: hidden;
}
.ombumedia-upload-progress .progress-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #7eb0db;
  z-index: 1;
}
.ombumedia-upload-progress .progress-bar .progress-text {
  position: relative;
  z-index: 2;
}
.uploading .ombumedia-upload-progress {
  display: block;
}
.view-ombumedia,
.view-ombumedia * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.view-ombumedia .view-content {
  overflow: hidden;
  margin: 20px -10px 0;
}
.view-ombumedia .view-content .views-row {
  float: left;
  padding: 10px;
  width: 25%;
}
.view-ombumedia .view-content .views-row:nth-child(4n+1) {
  clear: left;
}
@media (min-width: 600px) {
  .view-ombumedia .view-content .views-row {
    width: 20%;
  }
  .view-ombumedia .view-content .views-row:nth-child(4n+1) {
    clear: none;
  }
  .view-ombumedia .view-content .views-row:nth-child(5n+1) {
    clear: left;
  }
}
@media (min-width: 1000px) {
  .view-ombumedia .view-content .views-row {
    width: 16.66666667%;
  }
  .view-ombumedia .view-content .views-row:nth-child(5n+1) {
    clear: none;
  }
  .view-ombumedia .view-content .views-row:nth-child(6n+1) {
    clear: left;
  }
}
.view-ombumedia .ombumedia-library-file img {
  display: block;
  max-width: 100%;
  height: auto;
}
.ombumedia-popup .ombumedia-tabset {
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ombumedia-popup .ombumedia-tabset .top {
  overflow: hidden;
  position: relative;
  background-color: #e0e0d8;
  padding: 15px 15px 0 15px;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav {
  padding: 0;
  border: 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li a {
  font-weight: normal;
  display: block;
  float: left;
  padding: 0 1em;
  line-height: 2.5em;
  background-color: #a6a7a2;
  color: #000;
  border: 0;
  border-radius: 8px 8px 0 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li a:focus {
  outline: 0;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li.ui-state-active a,
.ombumedia-popup .ombumedia-tabset .ui-tabs-nav li.ui-state-hover a {
  background-color: #ffffff;
}
.ombumedia-popup .ombumedia-tabset .ui-tabs-panel {
  border: 0;
  padding: 15px;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
.ombumedia-ui-dialog .ui-dialog-titlebar {
  background: transparent;
  position: relative;
  z-index: 1010;
  float: right;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  border: 1px solid #e0e0d8;
  right: 5px;
  top: 5px;
  margin: 0;
}
.ombumedia-ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ombumedia-ui-dialog .ombumedia-modal-frame {
  padding: 0;
}
.page-file-configure .ombumedia-popup,
.page-file-preview .ombumedia-popup {
  padding: 15px;
}
.page-file-preview .file-preview {
  margin-bottom: 1em;
}
.page-file-preview .actions input.form-submit {
  margin-top: 1em;
}
.ombumedia-add {
  overflow: hidden;
}
.ombumedia-add,
.ombumedia-add * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ombumedia-add form {
  float: left;
  width: 50%;
  padding-right: 50px;
}
.ombumedia-add form + form {
  padding: 0;
}
