.ombumedia-page .ombumedia-media-library {
  position: relative;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-drag {
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5em dashed #333;
  display: none;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-drag span {
  font-size: 3em;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 45%;
}
.ombumedia-page .ombumedia-media-library.drag-over .ombumedia-upload-drag {
  display: block;
}
.ombumedia-page .ombumedia-media-library.drag-over .ombumedia-upload-drag > * {
  pointer-events: none;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-progress {
  position: absolute;
  top: -1em;
  left: -1em;
  right: -1em;
  bottom: -1em;
  background: rgba(255, 255, 255, 0.9);
  border: 0.5em dashed #333;
  display: none;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-progress .progress-bar {
  font-size: 2em;
  text-align: left;
  position: fixed;
  width: 50%;
  min-width: 400px;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #428bca;
  border-radius: 15px;
  background: #a6c8e6;
  padding: 0.5em;
  overflow: hidden;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-progress .progress-bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #7eb0db;
  z-index: 1;
}
.ombumedia-page .ombumedia-media-library .ombumedia-upload-progress .progress-bar .progress-text {
  position: relative;
  z-index: 2;
}
.ombumedia-page .ombumedia-media-library.uploading .ombumedia-upload-progress {
  display: block;
}
[data-mode="manage"] .ombumedia-library-file a[href="#select"] {
  display: none;
}
